body {
    overflow: hidden;
}
.head {
    height:30px;
    background-color: RGB(128,10,26);
    position: relative;
    padding:5px;

}
.head-title{
    text-align: center;
    color:white;
    font-size: 18px;
    line-height: 30px;
}
.staff-exit{
    position: absolute;
    width:90px;
    height:30px;
    top: 5px;
    right:10px;
}
.staff-msg {
    height: 40px;

    border-bottom:1px solid #e8e8e8;
    box-shadow: rgba(0,0,0,.1) 0 1px 5px;
    overflow: hidden;
}
.msg-time {
    display: inline-block;
    /*background-color: #FF6699;*/
    font-size: 15px;
    text-align: center;
    width: 300px;
    height: 40px;
    line-height: 40px;


}
.msg-name {
    display: inline-block;
    /*background-color: darkcyan;*/
    font-size: 15px;
    text-align: center;
    width: 300px;
    height: 40px;
    line-height: 40px;

}
.msg-home{
    display: inline-block;
    /*background-color: darkcyan;*/
    font-size: 15px;
    text-align: center;
    width: 300px;
    height: 40px;
    line-height: 40px;
}
.vip {
    font-size: 15px;
    height: auto;
    width:100%;
    overflow: hidden;
    /*background-color: green;*/

}
.vip-num {
    height: 50px;
    line-height:50px;
    width:100%;
    overflow: hidden;
}
.vip-text {
    margin-left: 30px;

}
.vip-phone {
    background-color: darkgray;
    padding: 1px 15px;
    border-radius: 2px;
    cursor: no-drop;
    margin-left:10px;
}
.vip input {
    height: 20px;
    margin-left: 20px;
}
.vip-button {
    width: 100px;
    height: 25px;
    background-color: RGB(128,10,26);
    color: white;
    border: 1px solid RGB(128,10,26);
    margin-left: 11px;
    border-radius: 2px;
    cursor: pointer;
}
.vip-msg {
    border: 1px solid burlywood;
    background-color: rgb(225,226,228);
    height: 100px;
    width:100%;
    line-height: 50px;
    overflow: hidden;

}
.msg-first {
    height: 50px;

    line-height: 50px;
    width: 100%;
    overflow: hidden;
}
.f-name {
    display: inline;
    margin-left:30px;

}
.f-phone {
    display: inline;
    margin-left:30px;
}
.star {
    color: red;
    font-size: 15px;
    line-height: 25px;
}
.msg-second {
    height: 50px;
    line-height: 50px;
    margin-left: 30px;

}
.s-address {
    overflow: hidden;
    display: inline;
}
.s-address input {

    width:270px;
}
.s-accept {

    display: inline;
    margin-left: 30px;

}
.trade {
    width:90%;
    height:200px;
    /*background-color: #cccccc;*/
    margin:10px auto;
    overflow: scroll;


;

}
td,thead{
    border:1px solid #cccccc;
    text-align: center;

}
thead {
    background-color: rgb(117, 118, 119);
    color: white;
    text-align: center;
}
.trade-tab{

    width:90%;
    margin:0 auto;

    font-size: 15px;

}
td {
    height:30px;
}
.money {
    background-color: #cccccc;
    height: 50px;
    font-size: 17px;
    position: relative;
    margin-top: 25px;
}
.mon-should {
    display: inline;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right:40%;
}
.mon-sub {
    display: inline;
    height:50px;
    line-height:50px;
    right:25px;
    position: absolute;
}
.sub-btn {
    width: 100px;
    height:25px;
    background-color:RGB(174,10,49);
    border:1px solid RGB(174,10,49);
    border-radius: 3px;
    color:white;
    font-size: 13px;
    cursor: pointer;
}
.should-text {
    color:RGB(174,10,49);
}
.foot {
    display: block;
    background-color: RGB(128,10,26);
    position: fixed;
    bottom:0;
    width:100%;
    height:50px;
    line-height:50px;
}
.foot-style {
    color: white;
    text-align: center;

}
.foot-style a {
    text-decoration: none;
    color: white;
}
.foot-style a:hover {
    color: grey;
}
